p{
    /* margin para baixo */
    /* margin-bottom: 10px; */

    /* margin para cima */
    /* margin-top: 300px; */

    /* margin para esquerda */
    /* margin-left: 20px; */
    
    /* margin para direita */
    /* margin-right: 20px; */

    /* margin para vertical e horizontal */
    margin: 50px 50px;
}

/* zerando a margin de todos os elementos */
/* *{
    margin: 0px;
} */