body {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.img-fundo {
  width: 40%;
  height: 100%;
  background-image: url(./images/3.jpg);
  background-size: 100% 100%;
  padding: 40px;
}

h2 {
  color: white;
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: white;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.container-form {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: login-show 2s ease;
}

.container-form img {
  width: 80px;
}

.container-form h2 {
  color: black;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

input {
  height: 40px;
  width: 300px;
  border: none;
  border-bottom: 2px solid #d19d87;
  outline: none;
}

input::placeholder {
  color: black;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
}

button {
  height: 40px;
  width: 300px;
  border: none;
  text-transform: uppercase;
  color: white;
  background-color: black;
}

a {
  text-decoration: none;
  color: #d19d87;
}

@keyframes login-show {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
