*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body{
    /* background-color: red; */
}

h2{
    color: #ffffff;
    font-size: 42px;
}

h1{
    position: relative;
    width: max-content;
    margin: 20px;
}

div{
    background-color: black;
    height: 400px;
    width: 400px;
    margin-left: 40%;
    margin-top: 40px;
    padding: 20px;
}

#div-1{
    
    background-color: red;
    /* colocando borda na imagem */
    border: 10px solid black;
    background-image: url(image.png);
    background-size: cover;
    border-radius: 100%;
    position: relative;
}

input{
    width: 400px;
    height:40px;
    border: 2px solid black ;
    border-radius: 10px;
    padding: 10px;
}
/* 
#div-1{
    background: url('./../imagens/4.png') no-repeat;
    background-size: 100% 100%;
}

#div-2{
    background: url('./../imagens/3.png') no-repeat;
    background-size: 100% 100%;
}

#div-3{
    background: url('./../imagens/2.png') no-repeat;
    background-size: 100% 100%;
}

#div-4{
    background: url('./../imagens/1.png') no-repeat;
    background-size: 100% 100%;
} */