*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

div{
    background-color: green;
    height: 200px;
    width: 200px;
}

#div1{
    background-color: red;
}

#div2{
    background-color: magenta;

}