* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
}

.img-background {
  width: 60%;
  height: 100%;
  background-image: url(./../../travel-img/02.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 0px 40px;
}

h1,
span, h2 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.img-background h1 {
  margin-top: 160px;
  font-size: 56px;
}

.img-background span {
  font-size: 18px;
}
.login-container {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container form {
  width: 300px;
  height: 500px;
  /* background-color: red;  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.login-container h2{
    color: black;
}
.login-container span{
    color: black;
}

a{
      color: #18186b;
      text-decoration: none;
}

input{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    border-bottom: 2px solid #18186b;
}

input::placeholder{
  padding: 10px;
  color: #18186b;
}


button{
    background-color: #18186b;
    color: white;
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    transition: all 2s ease-in-out;
}

button:hover{
  color: #18186b;
  background: transparent;
  border:  2px solid #18186b;
}