* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  /* overflow: hidden; */
}

.imagem-fundo {
  width: 50%;
  /* height: 100%;  verificar porque nao funcionou!!!*/
  background-image: url(../../travel-img/04.jpg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
}

.imagem-fundo h2 {
  font-size: 48px;
}

.imagem-fundo button {
  width: 120px;
  height: 40px;
  border: 2px solid #fff;
  color: #fff;
  background-color: transparent;
  border-radius: 5px;
  text-transform: uppercase;
  transition: 2s;
}

.imagem-fundo button:hover {
  background-color: #daa94f;
  cursor: pointer;
  border: none;
}

.form-login {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
  animation: login-show 1s ease-in-out;
}

form {
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

input {
  width: 100%;
  height: 40px;
  outline: none;
}

input:focus{
  border: 2px solid #daa94f;
  
}

input::placeholder{
  padding: 10px;
}

button {
  width: 100%;
  height: 40px;
  color: white;
  background-color: #daa94f;
  border: none;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form img{
  width: 80px;
}

input[type="radio"]{
  accent-color: #daa94f;
  width: 20px;
  height: 20px;
}

.form-group div{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

@keyframes login-show{
  0%{
    opacity: 0;
    transform: translateY(300px);
  }

  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

